<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kyle Tress">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page_title %> - Kyle Tress</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= partial 'partials/header' %>
    <main class="container">
      <%= partial 'partials/masthead' %>
      <%= yield %>
    </main>
    <%= partial 'partials/footer' %>
  </body>
</html>
