---
layout: front
---

%p
  Hi, I'm
  %strong Kyle Tress.

%p
  I’m an Olympic athlete in the sport of skeleton. When I’m not racing headfirst down a mountain of ice at 90 miles per hour, I’m the lead Ruby on Rails developer at #{link_to 'Instaviser', 'http://www.instaviser.com'}, and an advocate for the ethical and mindful use of technology.

%p
  I’m currently studying machine learning and data science. In my free time I read a lot of books and recommend my favorites in my #{link_to 'monthly reading list email', '/newsletter'}.

%nav
  = link_to 'About', '/about'
  &bull;
  = link_to 'Blog', '/blog'
  &bull;
  = link_to 'Recommended Reading', '/newsletter'
  &bull;
  = link_to 'Projects', '/projects'

%p
  %strong A few things:

%ul
  %li= link_to 'Frequently asked skeleton questions', '/faqs'
  %li= link_to 'On Leadership', '#'
  %li= link_to 'Impressions of Rome', '#'
  %li= link_to "Why I'm running for USOC AAC", '#'
